In [2]:
ktx =[1,2,3]
sum = ktx[0]+ktx[1]+ktx[2]
print(sum)

6

In [3]:
ktx =[1,2,3,4,5,6,7,8,9,10]
sum = ktx[0]+ktx[1]+ktx[2]+ktx[3]+ktx[4]+ktx[5]+ktx[6]+ktx[7]+ktx[8]+ktx[9]
print(sum)

55

In [4]:
ktx =[1,2,3,4,5,6,7,8,9,10]

sum=0
for i in range(10):
    sum = sum+ktx[i]

print(sum)

55

In [5]:
#append()

sum=0
ktx = [] #<--빈 리스트라는 뜻
ktx.append(1)
ktx.append(2)
ktx.append(3)
ktx.append(4)
ktx.append(5)

for i in range(5):
    sum = sum+ktx[i]

print(sum)

15

In [6]:
#반복문을 활용한 리스트 호출 

ktx=[]
sum=0
for i in range(1000):
    ktx.append(i+1)
    
for i in range(1000):
    sum=sum+ktx[i]
print(sum)

500500

In [7]:
ktx =[10,20,30,40,50,60,70]
print(ktx[0:2]) #끝 인덱스는 포함하지 않는다
print(ktx[0:5])
print(ktx[2:6])

[10, 20]
[10, 20, 30, 40, 50]
[30, 40, 50, 60]

In [8]:
#기존 리스트 인덱스 수정
ktx=[10,20,30,40]
ktx[0]=100
ktx[2]=300
print(ktx)

[100, 20, 300, 40]

In [9]:
#기존 리스트에 값 추가
ktx=[10,20,30,40]
ktx[2:3]=[300,301,302]
print(ktx)

[10, 20, 300, 301, 302, 40]

In [10]:
#리스트 삭제
ktx=[10,20,30,40]
del(ktx[2])
print(ktx)

[10, 20, 40]

In [11]:
#리스트 여러항목 한번에 삭제
ktx=[10,20,30,40]
ktx[1:3]=[]
print(ktx)

[10, 40]

In [12]:
ktx=[10,20,30,40]
print('현재 리스트 :',ktx)

ktx.append(50)
print('append 함수 사용 :',ktx)

ktx.pop()
print('pop 함수 사용 :',ktx)

ktx.reverse()
print('reverse 함수 사용 :',ktx)

ktx.sort()
print('sort 함수 사용 :',ktx)

ktx.remove(20)
print('remove 함수 사용 :',ktx)

ktx.insert(1,'이건뭐야')
print('insert 함수 사용 :',ktx)

tgv=[100,200,300]
ktx.extend(tgv)
print('extend 함수 사용 :',ktx)

cntlist=len(ktx)
print('len 함수 사용 :',cntlist)

현재 리스트 : [10, 20, 30, 40]
append 함수 사용 : [10, 20, 30, 40, 50]
pop 함수 사용 : [10, 20, 30, 40]
reverse 함수 사용 : [40, 30, 20, 10]
sort 함수 사용 : [10, 20, 30, 40]
remove 함수 사용 : [10, 30, 40]
insert 함수 사용 : [10, '이건뭐야', 30, 40]
extend 함수 사용 : [10, '이건뭐야', 30, 40, 100, 200, 300]
len 함수 사용 : 7

In [13]:
tp1=(10,20,30,40)
tp2=10,20,30,40

print(tp1)
print(tp2)

tp3=(10,)
tp4=(10)
tp5=10,

print(tp3)
print(tp4)
print(tp5)

(10, 20, 30, 40)
(10, 20, 30, 40)
(10,)
10
(10,)

In [14]:
tp=(10,20,30,40)
print('두 번째 항목 :',tp[1])
print('네 번째 항목 :',tp[3])

sum=tp[0]+tp[1]+tp[2]
print('세 항목의 합 :',sum)

두 번째 항목 : 20
네 번째 항목 : 40
세 항목의 합 : 60

In [15]:
tp=(10,20,30,40)
print(tp[1:3])

(20, 30)

In [16]:
tp1=(1,2)
tp2=('짝',)
print(tp1 + tp2)
print(tp2*3)

(1, 2, '짝')
('짝', '짝', '짝')

In [22]:
mytp=('나혼자','파이썬')
mylist=list(mytp)
mylist[0]="다함께"

mytp=tuple(mylist)
print(mytp)

('다함께', '파이썬')

In [18]:
product={'컵라면':800,'삼각김밥': 1000,'소세지' : 1500}
word={'boy': '소년','girl': '소녀','family': '가족'}

print(product)
print(word)

{'컵라면': 800, '삼각김밥': 1000, '소세지': 1500}
{'boy': '소년', 'girl': '소녀', 'family': '가족'}

In [19]:
product={'컵라면':800,'삼각김밥': 1000,'소세지' : 1500}

del(product['컵라면'])
del(product['소세지'])

print(product)

{'삼각김밥': 1000}

In [20]:
product={'컵라면':800,'삼각김밥': 1000,'소세지' : 1500}

print(product.get('삼각김밥'))
print(list(product.keys()))
print(list(product.values()))

1000
['컵라면', '삼각김밥', '소세지']
[800, 1000, 1500]

In [ ]:
product={'컵라면':800,'삼각김밥': 1000,'소세지' : 1500}
item =input('상품을 입력하세요 :')

if(item in product):
    print('편의점에 상품이 있습니다.')
else:
    print('편의점에 존재하지 않는 상품입니다.')

In [ ]:
capital= {'네팔':'카트만두',
        '대한민국':'서울',
        '일본':'도쿄',
        '중국':'베이징',
        '이탈리아':'로마',
        '러시아':'모스크바',
        '독일':'베를린',
        '미국':'워싱턴',
        '프랑스':'파리',
        '영국':'런던'};
while(True):
    contry=input(str(list(capital.keys()))+"나라의 수도는 무엇일까요?")
    if contry in capital:
        print(contry,'의 수도는',capital.get(contry),'입니다.')
        
    elif contry =="exit":
        break;
    else:
        print('그런 나라가 없습니다.')

In [ ]:
from pandas as pd
from numpy as np
arr_list =[1,2,3,4,5]
if 9 not in arr_list:
    print('9가 없다.')
else:
    print('9가 있다.')

In [ ]:
string ='Hello'
if'a' not in string:
    print('a가 문자열안에 없다')
if 'e' in string:
    print('e가 문자열안에 있다')

In [ ]:
df_list=['c programming','python programming','mysql','html','jquery']
for col in df_list:
    if'pro' not in col:
        print(col)

In [ ]:
str1 ='I'
str2 ='love'
str3= 'you'

result=str1+str2+str3
print(result)

In [ ]:
print('-'*30)